addict
black==22.10.0
efficientnet-pytorch==0.7.1
fairscale
flake8==7.1.1
gradio
huggingface_hub
isort==5.13.2
litellm
matplotlib
nltk
numpy
onnxruntime
opencv_python
Pillow
pre-commit>=3.8.0
pretrainedmodels==0.7.4
pycocotools
pytest>=8.3.3
PyYAML
requests>=2.32.3
segmentation-models-pytorch
setuptools
supervision
termcolor
timm==0.9.7
torch
torchvision
transformers
tqdm
yapf
